@font-face {
  font-family: "__fontsubsetter_Pretendard JP";
  src: url("fontsubsetter-Pretendard-JP-3b3cd13b8a.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "__fontsubsetter_RIDIBatang";
  src: url("fontsubsetter-RIDIBatang-35c9a2d524.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "__fontsubsetter_Metropolis";
  src: url("fontsubsetter-Metropolis-edf297fc72.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "__fontsubsetter_Iosevka";
  src: url("fontsubsetter-Iosevka-72a12c4445.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: "__fontsubsetter_Pretendard JP", sans-serif;
  --font-letter: "__fontsubsetter_RIDIBatang", cursive;
  --font-display: "__fontsubsetter_Metropolis", "__fontsubsetter_Pretendard JP", sans-serif;
  --font-code: "__fontsubsetter_Iosevka", "__fontsubsetter_Pretendard JP", monospace;
}